name: flutter_doc_scanner
description: "A Flutter plugin for document scanning on Android and iOS using ML Kit Document Scanner API and VisionKit."
version: 0.0.17
homepage: https://github.com/shirsh94/flutter_doc_scanner/

environment:
  sdk: '>=2.18.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.shirsh.flutter_doc_scanner
        pluginClass: FlutterDocScannerPlugin
      ios:
        pluginClass: SwiftFlutterDocScannerPlugin
